@import '../../../styles/forms';
@import '../../../styles/variables';

.registration{
  .form{
    background-color: #fff;
    margin-top: 40px;
    padding: 40px 10px;
    display: flex;

    .input-message {
      opacity: 0;
      &.erro{
        color: $danger;
        opacity: 1;
      }
    }
  }

  &__section {
    width: 100%;
    margin: 0 27px;

    &--title{
      margin-bottom: 10px;
    }
  }


  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }

  @media only screen and (max-width: 600px) {
    .form{
      display: block;
      padding: 20px 15px;
    }

    &__section {
      width: 100%;
      margin: 0;
    }
  }
}

.form__radio-group {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;

  input[type="radio"] {
    margin-right: 0.5rem;
  }

  label {
    cursor: pointer;
  }
}