<div class="container">
  <section class="companies">
    <div class="companies-list">
      <div
        class="companies-item"
        *ngFor="let company of companies"
        (click)="selectCompany(company)"
      >
        <div class="companies-item__info">
          <img src="assets/user.png" alt="Vox Técnologia" />
          <div>
            <h4>{{ company.responsible }}</h4>
            <p>{{ company.name }}</p>
          </div>
        </div>
        <div class="companies-btn">
          <app-button icon="fa-solid fa-eye" size="md">Visualizar</app-button>
        </div>
      </div>
      <i class="fa-solid fa-chevron-right"></i>
    </div>
    <div class="companies-content" *ngIf="selectedCompanies">
      <h3>Detalhes do pedido</h3>
      <div>
        <img src="assets/user.png" alt="Vox Técnologia" />
        {{ selectedCompanies.name }}
      </div>
      <ul>
        <li><b>Responsável:</b> {{ selectedCompanies.responsible }}</li>
        <li><b>CPF:</b> {{ selectedCompanies.cpf }}</li>
        <li><b>Endereço:</b> {{ selectedCompanies.address }}</li>
        <li><b>Bairro:</b> {{ selectedCompanies.neighborhood }}</li>
        <li><b>Cidade:</b> {{ selectedCompanies.city }}</li>
        <li><b>Cep:</b> {{ selectedCompanies.cep }}</li>
        <li><b>Complemento:</b> {{ selectedCompanies.complement }}</li>
        <li><b>UF:</b> {{ selectedCompanies.uf }}</li>
        <li><b>Número:</b> {{ selectedCompanies.number }}</li>
      </ul>
    </div>
  </section>
</div>
