<div class="container">
  <section class="companies">
    <div class="companies-list">
      <div class="companies-item" *ngFor="let company of companies" (click)="selectCompany(company)">
        <div class="companies-item__info">
          <img src="assets/user.png" alt="Vox Técnologia" />
          <div>
            <h4>{{ company.name }}</h4>
            <p>{{ company.company_name }}</p>
          </div>
        </div>
        <div>
          <app-button icon="fa-solid fa-eye" size="md">Visualizar</app-button>
        </div>
      </div>
    </div>
    <div class="companies-content">
      <div *ngIf="selectedCompanies">
        {{ selectedCompanies.description }}
      </div>
    </div>
  </section>
</div>