@import '../../../styles/variables';

.companies{
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(48%, 1fr));
  gap: 1rem;

  &-list {
    display: grid;
    gap: 1rem;
  }

  &-item {
    padding: 0.75rem 1.6rem;
    border: 2px solid $secondary-color;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__info {
      display: flex;
    }

    img {
      border-radius: 100px;
      margin-right: 20px;
    }
  
    h4 {
      margin: 0 0 0.3rem;
      font-size: 20px;
    }
    p {
      margin: 0;
      font-size: 17px;
    }
  }
}
